/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .bar-container {
    margin: 0 auto;
    width: 50%;
    height: 30px;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
}



.bar {
    width: 50%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%);
    height: 30px;
    border-radius: 0 16px 16px 0;
    text-align: end;
    
}

.text-bar {
    color: white;
    font-weight: 900;
    margin:auto;
    padding-top: 3.5px;
    padding-right: 5%;
}

.display-none {
    display: none;
}

.div-admin{
display: flex;
}

.form-admin{
display: flex;
flex-direction: column;
gap: 10px;
}

.check-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.bar-admin{
    width: 100%;
    padding-top: 100px;
    border: 1px dashed black ;
}