/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bar-container {
    width: 15%;
    height: 10px;
    border: 1px solid black;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-radius: 1rem;
    /* margin: 2px; */
}

.top{
    top: 30px;
}

.bottom{
    bottom: 0px;
}

.right{
    right: 20px;
}

.left{
    left: 20px
}

.bar {
    width: 0%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 10px;
    border-radius: 1rem !important;
    transition: width 0.2s linear;
    text-align: end;

}

.text-bar {
    color: white;
    font-size: 10px;
    padding-left: 16px;
    position: relative;
    top: 10px;
    left: -10px;
}

.display-none {
    display: none;
}

.container-button {
    display: flex;
    justify-content: center;
}

