/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bar-container {
    width: 100%;
    height: 32px;
    border: 1px solid black;
    position: fixed;
    z-index: 10;
    background-color: white;

}

.bar {
    width: 0%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 30px;
    border-radius: 0 16px 16px 0;
    transition: width 0.2s linear;
    text-align: end;

}

.text-bar {
    color: white;
    padding-left: 16px;
    position: relative;
    left: -10px;
}

.display-none {
    display: none;
}

.container-button {
    display: flex;
    justify-content: center;
}